		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

		<!--[if !IE]> -->

		<script type="text/javascript">
		    var src_url = "{{ url_for('static', filename='assets/js/jquery-2.0.3.min.js') }}";
            window.jQuery || document.write("<script src=var_url>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
            var load_js = "{{ url_for('static', filename='assets/js/jquery.mobile.custom.min.js')}}" 
			if("ontouchend" in document) document.write("<script src=load_js>"+"<"+"/script>");
		</script>
        <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js')}}" ></script>
        <script src="{{ url_for('static', filename='assets/js/typeahead-bs2.min.js')}}" ></script>

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->

        <script src="{{ url_for('static', filename='assets/js/ace-elements.min.js')}}" ></script>
        <script src="{{ url_for('static', filename='assets/js/ace.min.js')}}" ></script>

		<!-- inline scripts related to this page -->
